.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer .logo img {
  width: 50%;
  margin-bottom: 1rem;
}

.footer .logo p {
  color: var(--text-color);
  font-size: 1rem;
}

.social__links span a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
}

.footer__link-title {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.footer__quick-links h6 span i {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.footer__quick-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
}

.contact-info {
  padding: 3%;
  font-size: 1.1rem;
}

.contact-info li {
  margin-bottom: 4%;
  color: var(--text-color);
}

.contact-info i {
  color: var(--secondary-color);
}

.copyright {
  color: var(--text-color);
  font-size: 1rem;
}

@media only screen and (max-width: 992px) {
  .footer .logo img {
    width: 20%;
  }

  .social__links {
    justify-content: center;
    padding: 2%;
  }

  .footer__link-title {
    font-size: 1.2rem;
    padding-top: 12%;
    color: var(--secondary-color);
  }

  .footer {
    text-align: center;
  }

  .contact-info {
    padding: 2%;
  }

  .contact-info li {
    font-size: 1.1rem;
    margin-bottom: 4%;
    color: var(--text-color);
  }

  .contact-info i {
    color: var(--secondary-color);
  }

  .copyright {
    font-size: 0.8rem;
  }
}
